<div class="menu" style="width: 11vw; box-shadow: inset 0px 0px 3px silver; ">
    <div class="menu-header">
        <a href="index.html" class="menu-header-logo">
            <img src="" alt="logo">
        </a>
    </div>
    <div class="menu-body">
        <ul>
            <li class="menu-divider">Appointment</li>
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-receipt"></i>
                    </span>
                    <span>Add</span>
                </a>
                <ul>
                    <li>
                        <a href="orders.html">New</a>
                    </li>
                    <li>
                        <a href="order-detail.html">Update</a>
                    </li>
                    <li>
                        <a href="order-detail.html">View</a>
                    </li>
                    <li>
                        <a href="order-detail.html">Delete</a>
                    </li>
                </ul>
            </li>
            <li>
            <li>
                <a href="customers.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-person-badge"></i>
                    </span>
                    <span>View</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-receipt"></i>
                    </span>
                    <span>Patient</span>
                </a>
                <ul>
                    <li>
                        <a href="invoices.html">List</a>
                    </li>
                    <li>
                        <a href="invoice-detail.html">Detail</a>
                    </li>
                </ul>
            </li>
            <li class="menu-divider">Doctor</li>
            <li></li>
            <ul>
                <li>
                    <a href="email.html">
                        <span>Add</span>
                    </a>
                    <a href="email.html">
                        <span>Update</span>
                    </a>
                    <a href="email.html">
                        <span>Delete</span>
                    </a>
                </li>
            </ul>
            </li>

        </ul>
    </div>
</div>
<!-- ./  menu -->